.person1 {
    left: 170px;
    position: absolute;
    top: 160px;
    display: block;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    /* vertical-align: middle; */
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

.person2 {
    right: 180px;
    position: absolute;
    top: 160px;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    height: auto;
    /* vertical-align: middle; */
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}


/* @media only screen and (max-width: 600px) {
    .person1 {
        display: none;
    }
    .person2 {
        display: none;
    }
} */

@media only screen and (max-width: 950px) {
    .person1 {
        display: none;
    }
    .person2 {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .person1 {
        left: -25px;
    }
    .person2 {
        right: -25px;
    }
}

@media only screen and (max-width: 1280px) {
    .person1 {
        left: 50px;
    }
    .person2 {
        right: 50px;
    }
}


/* 
@media only screen and (max-width: 992px) {
    .person1 {
        
    }
    .person2 {
        
    }
} */